<?xml version="1.0" encoding="utf-8"?>
<packages>								
  <package id="Fody" version="6.6.4" targetFramework="net48" developmentDependency="true" />
  <package id="PropertyChanged.Fody" version="4.1.0" targetFramework="net48" />
</packages>				

	<!--Dies ist eine NuGet-Paketkonfigurationsdatei (packages.config) für ein .NET-Projekt. Sie enthält eine Liste der Pakete, die für das Projekt installiert sind, 
und ihre Versionen und Ziel-Frameworks. In diesem Fall gibt es zwei Pakete, "Fody" in Version 6.6.4 und "PropertyChanged.Fody" in Version 4.1.0, die für das .NET Framework 4.8 installiert sind.
"Fody" ist eine allgemeine Paketverwaltungsplattform für .NET-Code, und "PropertyChanged.Fody" ist ein spezielles Paket, das das INotifyPropertyChanged-Interface für .NET-Klassen automatisch implementiert.-->